.Featured-box {
    background: linear-gradient(0deg, rgba(21, 21, 21, 0.70) 0%, rgba(21, 21, 21, 0.70) 100%),
        url("../../../assets/home/featured.jpg"),
        lightgray 50% / cover no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.DescInfo {
    background: url("../../../assets/home/chef-service.jpg"), lightgray -553.5px 0px / 183.864% 134.833% no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}